@import url("https://use.typekit.net/pia1sns.css");
body {
  background-color: #e8eae4;
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
#mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
}
#mobile-menu #hamburger-open-icon {
  max-width: 40px;
  padding: 10px;
}
#mobile-menu #hamburger-close-icon {
  max-width: 40px;
  padding: 10px;
}
#mobile-menu .home-logo {
  margin: 0 auto;
}
#mobile-menu #mobile-logo {
  max-width: 300px;
}
#mobile-menu #mobile-nav-dropdown {
  background-color: #e8eae4;
  position: fixed;
  margin-top: 50px;
  width: 100%;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links {
  list-style-type: none;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links .active {
  color: #d4797e;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links li {
  padding: 20px 0 20px 0;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links li a {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #141322;
  text-decoration: none;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links .subnav-item {
  font-size: .75rem;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links li a:hover {
  color: #d4797e;
}
.condensed {
  height: 0;
  overflow: hidden;
  -webkit-transition: height ease 2s;
  transition: height ease 2s;
}
.show {
  z-index: 100;
  height: 572px;
  -webkit-transition: height ease 2s;
  transition: height ease 2s;
}
