@import url("https://use.typekit.net/pia1sns.css");
.nav-font {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #141322;
  text-decoration: none;
}
.footer-nav-font {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #e8eae4;
  text-decoration: none;
}
.main-button-style {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
  color: #141322;
  padding: 10px;
  background-color: #d6c1c2;
  border: 2px solid #141322;
}
.main-button-style:hover {
  background-color: #d4797e;
  color: #e8eae4;
  border-color: #e8eae4;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
body {
  background-color: #e8eae4;
  min-width: 320px;
  margin: 0;
  padding: 0;
  position: relative;
}
.hide {
  display: none;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  z-index: 75;
  background-color: #e8eae4;
}
hr {
  border: 1px solid #786f61;
  width: 100%;
}
.button-link {
  text-decoration: none;
  color: #141322;
  padding: 20px 0;
}
.button-link:hover {
  color: #e8eae4;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mobile-menu #hamburger-open-icon {
  max-width: 40px;
  padding: 15px;
}
#mobile-menu #hamburger-close-icon {
  max-width: 40px;
  padding: 15px;
}
#mobile-menu .home-logo {
  margin: 0 auto;
}
#mobile-menu #mobile-logo {
  max-width: 300px;
}
#mobile-menu #mobile-nav-dropdown {
  background-color: #e8eae4;
  position: fixed;
  margin-top: 50px;
  width: 100%;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links {
  list-style-type: none;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links .active {
  color: #d4797e;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links li {
  padding: 20px 0;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links li a {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #141322;
  text-decoration: none;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links .subnav-item {
  font-size: .75rem;
}
#mobile-menu #mobile-nav-dropdown #mobile-nav-links li a:hover {
  color: #d4797e;
}
.condensed {
  height: 0;
  overflow: hidden;
  -webkit-transition: height ease 2s;
  transition: height ease 2s;
}
.show {
  z-index: 100;
  height: 572px;
  -webkit-transition: height ease 2s;
  transition: height ease 2s;
}
#desktop-menu {
  display: none;
}
@media (min-width: 990px) {
  #mobile-menu {
    display: none;
  }
  #desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #desktop-menu #desktop-logo {
    max-width: 350px;
    margin: 25px 0 0 50px;
  }
  #desktop-menu nav #desktop-nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    margin: 60px 50px 0 0;
  }
  #desktop-menu nav #desktop-nav-links li {
    padding: 0 40px;
  }
  #desktop-menu nav #desktop-nav-links li a {
    font-family: p22-underground, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #141322;
    text-decoration: none;
  }
  #desktop-menu nav #desktop-nav-links li a .triangle {
    max-width: 15px;
    margin-left: 7px;
  }
  #desktop-menu nav #desktop-nav-links li a:hover {
    color: #d4797e;
  }
  #desktop-menu nav #desktop-nav-links .subnav-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #desktop-menu nav #desktop-nav-links .subnav-category .subnav-container {
    background-color: #d4797e;
  }
  #desktop-menu nav #desktop-nav-links .subnav-category .subnav-container ul {
    list-style-type: none;
    margin-top: 10px;
  }
  #desktop-menu nav #desktop-nav-links .subnav-category .subnav-container li {
    padding: 10px;
    margin-left: -40px;
  }
  #desktop-menu nav #desktop-nav-links .subnav-category .subnav-container li a {
    font-size: .75rem;
  }
  #desktop-menu nav #desktop-nav-links .subnav-category .subnav-container li a:hover {
    color: #e8eae4;
  }
  .condensed-desktop {
    height: 0;
    overflow: hidden;
    -webkit-transition: height ease 2s;
    transition: height ease 2s;
  }
  .show-about-desktop {
    z-index: 100;
    height: 92px;
    -webkit-transition: height ease 2s;
    transition: height ease 2s;
  }
  .show-activities-desktop {
    z-index: 100;
    height: 130px;
    -webkit-transition: height ease 2s;
    transition: height ease 2s;
  }
}
footer {
  background-color: #313f74;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
footer .social-icons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
footer .social-icons .social-icon {
  padding: 0 15px;
}
footer .social-icons .social-icon img {
  max-width: 50px;
}
footer .social-icons #copyright-desktop {
  display: none;
}
footer nav #main-pages-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
footer nav #main-pages-footer li {
  list-style-type: none;
  padding: 5px 0;
}
footer nav #main-pages-footer li a {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #e8eae4;
  text-decoration: none;
}
footer nav #main-pages-footer li a:hover {
  color: #d4797e;
}
footer nav #main-pages-footer li .footer-subnav {
  margin-left: -40px;
}
footer nav #main-pages-footer li .footer-subnav a {
  font-size: .75rem;
}
footer #copyright {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #e8eae4;
  text-decoration: none;
  margin-left: 40px;
  padding: 10px 0;
}
@media (min-width: 450px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer nav #main-pages-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }
  footer nav #main-pages-footer li {
    padding: 5px 15px;
  }
  footer nav #main-pages-footer li .footer-subnav {
    margin-left: -55px;
  }
  footer #copyright {
    text-align: center;
    margin: 0;
  }
}
@media (min-width: 900px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
  }
  footer nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 40px;
  }
  footer .social-icons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 75px;
  }
  footer .social-icons #copyright-desktop {
    display: block;
    font-family: p22-underground, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #e8eae4;
    text-decoration: none;
  }
  footer #copyright {
    display: none;
  }
}
#home-main {
  padding-bottom: 447px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#home-main #home-hero {
  margin-top: 150px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home-main #home-hero video {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 50;
}
#home-main #home-hero img {
  position: absolute;
  margin: 0 auto;
  width: 200px;
  z-index: 50;
}
#home-main #home-hero #hero-button {
  position: absolute;
  margin: 0 auto;
  margin-top: 175px;
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
  color: #141322;
  padding: 10px;
  background-color: #d6c1c2;
  border: 2px solid #141322;
  z-index: 50;
}
#home-main #home-hero #hero-button:hover {
  background-color: #d4797e;
  color: #e8eae4;
  border-color: #e8eae4;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#home-main section {
  padding: 20px;
}
#home-main section h2 {
  font-family: "Chantelli Antiqua", cursive;
  font-size: 1.5rem;
  color: #141322;
}
#home-main section h3 {
  font-family: "joanna-nova", Times, serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #141322;
}
#home-main section p {
  font-family: "joanna-nova", Times, serif;
  font-size: 1rem;
  color: #141322;
}
#home-main section .button {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
  color: #141322;
  padding: 10px;
  background-color: #d6c1c2;
  border: 2px solid #141322;
  width: 140px;
}
#home-main section .button:hover {
  background-color: #d4797e;
  color: #e8eae4;
  border-color: #e8eae4;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#home-main section .home-event {
  padding-bottom: 40px;
}
#home-main section .home-event img {
  width: 70px;
  height: 70px;
}
#home-main section .home-event .home-event-register {
  font-family: "p22-underground-sc", sans-serif;
  font-size: 1rem;
  color: #d4797e;
  text-decoration: none;
}
#home-main section .home-event .home-event-register:hover {
  text-decoration: underline;
}
#home-main section .button-container {
  padding: 15px 0 25px 0;
}
@media (min-width: 450px) {
  #home-main {
    padding-bottom: 291px;
  }
}
@media (min-width: 500px) {
  #home-main section .home-event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #home-main section .home-event img {
    padding-right: 20px;
  }
}
@media (min-width: 900px) {
  #home-main {
    padding-bottom: 166px;
  }
  #home-main #home-subcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #home-main #home-subcontent #young-filmmakers-line {
    display: none;
  }
  #home-main #home-subcontent #home-upcoming-events {
    border-left: solid 2px #786f61;
  }
}
