@import url("https://use.typekit.net/pia1sns.css");
.nav-font {
  font-family: p22-underground, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #141322;
  text-decoration: none;
}
