@import "variables";
@import "mixins";


//Template Styling
body{
  background-color: @cream;
  min-width: 320px;
  margin: 0;
  padding: 0;
  position: relative;
}

.hide {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  z-index: 75;
  background-color: @cream;
}

hr {
  border: 1px solid @gray-orange;
  width: 100%;
}

.button-link {
  text-decoration: none;
  color: @dark-navy;
  padding: 20px 0;
  &:hover {
    color: @cream;
    transition: ease-in .2s;
  }
}

//Hamburger Nav
#mobile-menu {
  display: flex;
  flex-direction: column;
  #hamburger-open-icon {
    max-width: 40px;
    padding: 15px;
  }
  #hamburger-close-icon {
    max-width: 40px;
    padding: 15px;
  }
  .home-logo {
    margin: 0 auto;
  }
  #mobile-logo {
    max-width: 300px;
  }
  #mobile-nav-dropdown{
    background-color: @cream;
    position: fixed;
    margin-top: 50px;
    width: 100%;
    #mobile-nav-links {
      list-style-type: none;
      .active {
        color: @pink;
      }
      li {
        padding: 20px 0;
      }
      li a {
        .nav-font();
      }
      .subnav-item {
        font-size: .75rem;
      }
      li a:hover {
        color: @pink;
      }
    }
  }
}

.condensed {
  height: 0;
  overflow: hidden;
  transition: height ease 2s;
}

.show {
  z-index: 100;
  height: 572px;
  transition: height ease 2s;
}

//Desktop Menu
#desktop-menu {
  display: none;
}

@media (min-width: 990px) {
  #mobile-menu {
    display: none;
  }
  #desktop-menu {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    #desktop-logo {
      max-width: 350px;
      margin: 25px 0 0 50px;
    }
    nav #desktop-nav-links {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 60px 50px 0 0;
      li {
        padding: 0 40px;
      }
      li a {
        .nav-font();
        .triangle {
          max-width: 15px;
          margin-left: 7px;
        }
      }
      li a:hover {
        color: @pink;
      }
      .subnav-category {
        display: flex;
        flex-direction: column;
        .subnav-container {
          background-color: @pink;
          ul {
          list-style-type: none;
          margin-top: 10px;
          }
          li {
            padding: 10px;
            margin-left: -40px;
            a {
              font-size: .75rem;
            }
            a:hover {
              color: @cream;
            }
          }
        }
      }
    }
  }
  .condensed-desktop {
    height: 0;
    overflow: hidden;
    transition: height ease 2s;
  }
  .show-about-desktop {
    z-index: 100;
    height: 92px;
    transition: height ease 2s;
  }
  .show-activities-desktop {
    z-index: 100;
    height: 130px;
    transition: height ease 2s;
  }
}

//Footer
footer {
  background-color: @blue;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  .social-icons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: -1;
    .social-icon{
      padding: 0 15px;
      img {
        max-width: 50px;
      }
    }
    #copyright-desktop {
      display: none;
    }
  }
  nav #main-pages-footer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    order: 2;
    li {
      list-style-type: none;
      padding: 5px 0;
      a {
        .footer-nav-font();
      }
      a:hover{
        color: @pink;
      }
      .footer-subnav {
        margin-left: -40px;
        a {
          font-size: .75rem;
        }
      }
    }
  }
  #copyright {
    order: 3;
    .footer-nav-font();
    margin-left: 40px;
    padding: 10px 0;
  }
}

@media (min-width: 450px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    nav {
      #main-pages-footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
        li {
          padding: 5px 15px;
          .footer-subnav {
            margin-left: -55px;
          }
        }
      }
    }
    #copyright {
      text-align: center;
      margin: 0;
    }
  }
}

@media (min-width: 900px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    nav {
      order: 1;
      margin-left: 40px;
    }
    .social-icons {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 75px;
      #copyright-desktop {
        display: block;
        .footer-nav-font();
      }
    }
    #copyright {
      display: none;
    }
  }
}

//Home page
#home-main {
  padding-bottom: 447px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  #home-hero {
    margin-top: 150px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
      height: 600px;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      z-index: 50;
    }
    img {
      position: absolute;
      margin: 0 auto;
      width: 200px;
      z-index: 50;
    }
    #hero-button {
      position: absolute;
      margin: 0 auto;
      margin-top: 175px;
      .main-button-style();
      z-index: 50;
    }
    #slideout {
      display: none;
      z-index: 55;
      background-color: @blue;
      border: 2px solid @blue;
      flex-direction: row;
      h4 {
        writing-mode: vertical-lr;
        text-orientation: mixed;
        font-family: @subheading-font;
        font-size: 1rem;
        color: @cream;
        padding: 10px 0;
      }
      #slideout-content {
        background-color: @cream;
        padding: 0 10px;
        width: 200px;
        p {
          font-family: @body-font;
          font-size: 1rem;
        }
        a {
          text-decoration: none;
          font-family: @subheading-font;
          font-size: 1rem;
          color: @blue;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  section {
    padding: 20px;
    h2 {
      font-family: @heading-font;
      font-size: 1.5rem;
      color: @dark-navy;
    }
    h3 {
      font-family: @body-font;
      font-weight: 600;
      font-size: 1.2rem;
      color: @dark-navy;
    }
    p {
      font-family: @body-font;
      font-size: 1rem;
      color: @dark-navy;
    }
    .button {
      .main-button-style();
      font-size: 1rem;
      width: 140px;
    }
    .home-event {
      padding-bottom: 40px;
      img {
        width: 70px;
        height: 70px;
      }
      .home-event-register {
        font-family: @subheading-font;
        font-size: 1rem;
        color: @pink;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .button-container {
      padding: 15px 0 25px 0;
    }
  }
}

@media (min-width: 450px) {
  main {
    padding-bottom: 291px;
  }
}

@media (min-width: 500px) {
  #home-main {
    #home-hero {
      #slideout {
        display: flex;
      }
      .closed {
        position: absolute;
        right: -219px;
        top: 275px;
      }
      .slide {
        position: absolute;
        right: 0;
        top: 275px;
        transition: ease-in 1s;
      }
    }
    section {
      .home-event {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        img {
          padding-right: 20px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  #home-main {
    padding-bottom: 166px;
    #home-subcontent{
      display: flex;
      flex-direction: row;
      #young-filmmakers-line {
        display: none;
      }
      #home-upcoming-events {
        border-left: solid 2px @gray-orange;
      }
    }
  }
}

//About page
#about-main {
  padding-bottom: 447px;
  #about-hero {
    margin-top: 150px;
    width: 100%;
    video {
      width: 100%;
    }
  }
  h1, h2 {
    font-family: @heading-font;
    font-size: 1.5rem;
    color: @dark-navy;
    padding: 0 20px;
  }
  p {
    font-family: @body-font;
    font-size: 1rem;
    color: @dark-navy;
    padding: 0 20px;
  }
  #jasna-section-divider {
    background-image: url("../images/about-jasna.jpg");
    background-size: cover;
    background-position: 100% 40%;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
  }
  #austen-section-divider {
    background-image: url("../images/about-janeausten.jpg");
    background-size: cover;
    background-position: 60% 0%;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
  }
  #jasna, #austen {
    padding-bottom: 40px;
  }
  section {
    #vision, #mission {
      border: 2px solid @gray-orange;
      margin: 20px;
    }
    h4 {
      font-family: @subheading-font;
      color: @dark-navy;
      font-size: 1rem;
      text-align: center;
    }
    h3 {
      font-family: @subheading-font;
      color: @dark-navy;
      font-size: 1.5rem;
      padding: 20px 20px 0 20px;
    }
    h5 {
      font-family: @body-font;
      font-weight: 600;
      font-size: 1rem;
      margin: 20px;
    }
    .button-container {
      padding: 20px;
      .button {
        .main-button-style();
        font-size: 1rem;
        width: 140px;
      }
    }
    img {
      width: 100%;
    }
    #jasna-what-content div {
      padding-bottom: 20px;
    }
    .about-what-link {
      font-family: @subheading-font;
      font-size: 1rem;
      color: @pink;
      text-decoration: none;
      padding: 0 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 600px){
  #jasna-core {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 900px){
  #about-main {
    padding-bottom: 166px;
  }
}
