@import "variables";
@import "mixins";


//Template Styling
body{
  background-color: @cream;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
}

//Hamburger Nav
#mobile-menu {
  display: flex;
  flex-direction: column;
  #hamburger-open-icon {
    max-width: 40px;
    padding: 15px;
  }
  #hamburger-close-icon {
    max-width: 40px;
    padding: 15px;
  }
  .home-logo {
    margin: 0 auto;
  }
  #mobile-logo {
    max-width: 300px;
  }
  #mobile-nav-dropdown{
    background-color: @cream;
    position: fixed;
    margin-top: 50px;
    width: 100%;
    #mobile-nav-links {
      list-style-type: none;
      .active {
        color: @pink;
      }
      li {
        padding: 20px 0;
      }
      li a {
        .nav-font();
      }
      .subnav-item {
        font-size: .75rem;
      }
      li a:hover {
        color: @pink;
      }
    }
  }
}

.condensed {
  height: 0;
  overflow: hidden;
  transition: height ease 2s;
}

.show {
  z-index: 100;
  height: 572px;
  transition: height ease 2s;
}

//Desktop Menu
#desktop-menu {
  display: none;
}

@media (min-width: 990px) {
  #mobile-menu {
    display: none;
  }
  #desktop-menu {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    #desktop-logo {
      max-width: 350px;
      margin: 25px 0 0 50px;
    }
    nav #desktop-nav-links {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 60px 50px 0 0;
      li {
        padding: 0 40px;
      }
      li a {
        .nav-font();
        .triangle {
          max-width: 15px;
          margin-left: 7px;
        }
      }
      li a:hover {
        color: @pink;
      }
      .subnav-category {
        display: flex;
        flex-direction: column;
        .subnav-container {
          background-color: @pink;
          ul {
          list-style-type: none;
          margin-top: 10px;
          }
          li {
            padding: 10px;
            margin-left: -40px;
            a {
              font-size: .75rem;
            }
            a:hover {
              color: @cream;
            }
          }
        }
      }
    }
  }
  .condensed-desktop {
    height: 0;
    overflow: hidden;
    transition: height ease 2s;
  }
  .show-about-desktop {
    z-index: 100;
    height: 92px;
    transition: height ease 2s;
  }
  .show-activities-desktop {
    z-index: 100;
    height: 130px;
    transition: height ease 2s;
  }
}
