@font-face {
  font-family: 'ChantelliAntiqua';
  src: url('ChantelliAntiqua.svg#ChantelliAntiqua') format('svg'),
       url('ChantelliAntiqua.ttf') format('truetype'),
       url('ChantelliAntiqua.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chantelli_Antiqua';
  src: url('Chantelli_Antiqua.eot');
  src: url('Chantelli_Antiqua.eot?#iefix') format('embedded-opentype'),
       url('Chantelli_Antiqua.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

